@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..900;1,9..40,100..900&display=swap');
@import "tailwindcss";

html {
  font-size: 18px;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #111111;
  color: #ffffff;
  line-height: 1.7;
}
